<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Server Auth</title>
    <link rel="stylesheet" href="./mvp.css" />
  </head>
  <body>
    <main>
      <section>
        <form action="/login" method="POST" id="login">
          <label>Email</label>
          <input type="text" name="email" id="email"/>
          <label>Mot de passe</label>
          <input type="text" name="password" id="password"/>
          <input type="submit" value="se connecter"/>
        </form>
      </section>

    </main>
  </body>
</html>
